*.svelte linguist-language=Svelte
*.html linguist-language=Svelte
*.ts linguist-language=TypeScript
*.cts linguist-language=TypeScript
*.mts linguist-language=TypeScript
*.js linguist-language=TypeScript
*.cjs linguist-language=TypeScript
*.mjs linguist-language=TypeScript
*.css linguist-language=PostCSS