*.svelte linguist-language=Svelte
*.html linguist-language=Svelte
*.ts linguist-language=TypeScript
*.cts linguist-language=TypeScript
*.mts linguist-language=TypeScript
*.js linguist-language=JavaScript
*.cjs linguist-language=JavaScript
*.mjs linguist-language=JavaScript