@font-face {
  font-family: "iconfont"; /* Project id 3861953 */
  src: url('iconfont.woff2?t=1673697922754') format('woff2'),
       url('iconfont.woff?t=1673697922754') format('woff'),
       url('iconfont.ttf?t=1673697922754') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixuancp:before {
  content: "\e60d";
}

.icon-weixuaned:before {
  content: "\e60c";
}

.icon-weixuan:before {
  content: "\e60b";
}

.icon-diandengpao:before {
  content: "\e6bd";
}

.icon-Tab_shouye:before {
  content: "\e661";
}

.icon-time1:before {
  content: "\e633";
}

.icon-bulb-fill:before {
  content: "\eb69";
}

.icon-camera-GOTO_PRESET:before {
  content: "\e653";
}

.icon-reset:before {
  content: "\e656";
}

.icon-config:before {
  content: "\e657";
}

.icon-down:before {
  content: "\e655";
}

.icon-time:before {
  content: "\e658";
}

.icon-delete1:before {
  content: "\e654";
}

.icon-zone:before {
  content: "\e65a";
}

.icon-report:before {
  content: "\e622";
}

.icon-shandian-shi:before {
  content: "\e65c";
}

.icon-add:before {
  content: "\e601";
}

.icon-info:before {
  content: "\e602";
}

.icon-edit:before {
  content: "\e603";
}

.icon-close_fullscreen:before {
  content: "\e604";
}

.icon-remove:before {
  content: "\e605";
}

.icon-close:before {
  content: "\e606";
}

.icon-delete:before {
  content: "\e607";
}

.icon-more_horiz:before {
  content: "\e608";
}

.icon-open_in_full:before {
  content: "\e609";
}

.icon-check:before {
  content: "\e60a";
}

